@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-width: 385px;
  /* color: #e2e2e2; */
  font-family: "Montserrat", sans-serif;

  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right bottom,
      #6d327c,
      #485da6,
      #00a1ba,
      #01b18e,
      #32b37b
    );
    background: #f7f9f7;

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

/* Style for h1 */
.markdown h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Style for h2 */
.markdown h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #444;
}

/* Style for h3 */
.markdown h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #555;
}

/* Style for p */
.markdown p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #666;
}

/* Style for a */
.markdown a {
  color: #007bff;
}

/* Style for code blocks */
.markdown pre {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
  overflow-x: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for inline code */
.markdown code {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.25rem;
}

/* Style for blockquotes */
.markdown blockquote {
  border-left: 0.25rem solid #ddd;
  margin-left: 0;
  padding-left: 1rem;
  color: #888;
}

/* Style for unordered list */
.markdown ul {
  list-style-type: disc;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for ordered list */
.markdown ol {
  list-style-type: decimal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for list item */
.markdown li {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@layer components {
  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .headerIcon {
    @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .link {
    @apply relative cursor-pointer text-lg font-medium  before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
      no-repeat;
    background-size: 100% 2px;
  }
  .small-icon {
    @apply mx-2 text-xs transition-all duration-200 text-gray-700 cursor-pointer fill-current md:text-base hover:text-blue-700 hover:translate-y-1;
  }
  .tabPanel {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  }
  .footer-items-container {
    @apply flex flex-wrap min-w-full;
  }
  .item-text {
    @apply mt-2 text-xs text-white md:text-sm;
  }
  .body-padding {
    @apply px-8 lg:px-24;
  }
}
